body {
	margin: 0;
	font-family: 'Liu Jian Mao Cao', cursive;
	background: url("./front-end/app-pages/background-cover.jpg");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Liu Jian Mao Cao', cursive;
}
